@use "../../../assets/sass/functions" as *;

.button {
  width: fit-content;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: vw-1920(4);
  transition: all 0.3s ease;
  color: var(--accent-1);
  border: none;
  outline: none;
  text-decoration: none;
  background: transparent;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  font-weight: 500;
  position: relative;

  @media (max-width: 768px) {
    gap: 4px;
  }

  .textContainer {
    position: relative;
    display: inline-block;
  }

  .hiddenText {
    font-weight: 700;
    visibility: hidden;

    white-space: nowrap;
    pointer-events: none;
  }

  .visibleText {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    white-space: nowrap;
    text-decoration: underline;
    text-decoration-skip-ink: none;
  }

  svg {
    width: vw-1920(24);
    height: vw-1920(24);
    transform: rotate(180deg);

    @media (max-width: 768px) {
      width: 24px;
      height: 24px;
    }
  }

  &:hover {
    font-weight: 700;
  }

  &:active {
    font-weight: 700;
    box-shadow: 0 0 1px 0 var(--accent-1);
  }

  &:disabled,
  &.disabled {
    color: var(--text);

    .visibleText {
      opacity: 0.3;
    }
  }
}
