@use "../../../assets/sass/functions" as *;

.wrapper {
  position: relative;
  overflow: hidden;
  z-index: 1;
  margin: 0 auto;
  max-width: vw-1920(1288);

  @media (max-width: 768px) {
    margin-left: 20px;
    margin-right: 20px;
    max-width: calc(100% - 40px);
    height: fit-content;
    overflow: visible;
  }

  .services {
    margin-top: vw-1920(36);
    margin-bottom: vw-1920(36);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: vw-1920(32) vw-1920(24);

    @media (max-width: 768px) {
      margin-top: 24px;
      margin-bottom: 32px;
      grid-template-columns: 1fr;
      gap: 20px;
    }
  }
}
