@use "../../assets/sass/functions" as *;

.container {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  border: 1px solid var(--accent-2);
  justify-content: space-between;
  height: vw-1920(260);

  @media (max-width: 768px) {
    height: 200px;
    width: 100%;
  }

  &:hover {
    border: 1px solid var(--accent-1);
  }

  .title {
    color: var(--text);
    padding: vw-1920(20);

    @media (max-width: 768px) {
      padding: 16px;
    }
  }

  .image {
    width: 100%;
    height: vw-1920(106);
    object-fit: cover;
    position: relative;

    @media (max-width: 768px) {
      height: 106px;
      width: 100%;
    }

    .button {
      position: absolute;
      top: vw-1920(-26);
      right: vw-1920(24);
      z-index: 1;

      @media (max-width: 768px) {
        top: -26px;
        right: 24px;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
