@use "../../assets/sass/functions" as *;

.container {
  margin-top: vw-1920(140);

  @media (max-width: 768px) {
    margin-top: 72px;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: vw-1920(42);

    .button {
      display: flex;
    }

    @media (max-width: 768px) {
      margin-bottom: 24px;

      .button {
        display: none;
      }
    }
  }

  .title {
    color: var(--text);
  }

  .button {
    display: none;

    @media (max-width: 768px) {
      display: flex;
      margin-top: 24px;
    }
  }

  .swiper {
    @media (max-width: 768px) {
      width: calc(100% + 40px);
      margin-left: -20px;
      padding: 0 20px;

      .slide {
        width: auto;
      }
    }
  }
}
