@use "../../assets/sass/functions" as *;

.container {
  position: relative;
  width: vw-1920(304);
  height: vw-1920(400);
  flex-shrink: 0;
  z-index: 1;

  & > .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(11, 12, 25, 0) 50%, rgba(11, 12, 25, 0.8) 100%);
    opacity: 1;
    transition: opacity 0.3s ease;
    z-index: 2;
  }

  & > .content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: vw-1920(16);
    height: 100%;
    padding: vw-1920(24);
    color: var(--text);
    background-color: transparent;
    transition: background-color 0.3s ease;
    position: relative;
    z-index: 3;

    & > .info {
      display: flex;
      flex-direction: column;
      gap: vw-1920(8);

      @media (max-width: 768px) {
        gap: 8px;
      }
    }

    & > .contacts {
      display: flex;
      flex-direction: column;
      gap: vw-1920(12);
      opacity: 0;
      max-height: 0;
      transform: translateY(vw-1920(20));
      overflow: hidden;
      transition:
        opacity 0.3s ease,
        max-height 0.6s ease,
        transform 0.3s ease;

      & > p {
        display: flex;
        align-items: center;
        gap: vw-1920(5);

        @media (max-width: 768px) {
          gap: 5px;
        }
      }

      @media (max-width: 768px) {
        gap: 12px;
        transform: translateY(20px);
      }
    }

    &:hover {
      cursor: pointer;
      background-color: #0b0c1980;

      & > .contacts {
        opacity: 1;
        max-height: vw-1920(185);
        transform: translateY(0);
        @media (max-width) {
          max-height: 174px;
        }
      }
    }

    @media (max-width: 768px) {
      gap: 16px;
      padding: 24px;

      cursor: pointer;
      background-color: #0b0c1980;

      & > .contacts {
        opacity: 1;
        max-height: 174px;
        transform: translateY(0);
      }
    }
  }

  & > img {
    z-index: -1;
    object-fit: cover;
  }

  @media (max-width: 768px) {
    width: 100%;
    height: 400px;
  }
}
