@use "../../../assets/sass/functions" as *;

.container {
  display: flex;
  flex-direction: column;
  gap: vw-1920(8);
  max-width: vw-1920(632);
  position: relative;

  @media (max-width: 768px) {
    max-width: 100%;
    gap: 6px;
  }

  .title {
    color: var(--text);

    span {
      color: var(--red);
    }
  }

  .field {
    width: 100%;
    min-height: vw-1920(120);
    padding: vw-1920(14) vw-1920(16);
    border: 1px solid transparent;
    color: var(--text);
    background: var(--white);
    border: 1px solid rgba(37, 51, 140, 0.2);

    transition: all 0.2s ease;
    resize: none;
    outline: none;

    @media (max-width: 768px) {
      padding: 14px 16px;
      min-height: 120px;
    }

    &::placeholder {
      opacity: 0.4;
      color: var(--text);
    }

    &.error {
      border-color: var(--error);
    }
  }

  .message {
    color: var(--red);
    position: absolute;
    left: 0;
    bottom: vw-1920(-8);
    transform: translateY(100%);

    @media (max-width: 768px) {
      bottom: -4px;
    }
  }
}
