@use "../../assets/sass/functions" as *;

.container {
  margin-top: vw-1920(140);
  display: flex;
  gap: vw-1920(24);

  @media (max-width: 768px) {
    margin-top: 72px;
    flex-direction: column;
    gap: 32px;
  }

  .image {
    width: vw-1920(632);
    height: vw-1920(586);
    object-fit: cover;

    @media (max-width: 768px) {
      width: 100%;
      height: 300px;
    }
  }

  .caption {
    display: flex;
    flex-direction: column;

    .title {
      margin-bottom: vw-1920(16);
      color: var(--text);

      @media (max-width: 768px) {
        margin-bottom: 20px;
      }
    }

    .text {
      font-family: var(--font-family);
      font-size: vw-1920(19);
      line-height: 140%;
      color: var(--text);
      font-weight: 300;

      @media (max-width: 768px) {
        font-size: 17px;
      }
    }

    p {
      margin-bottom: vw-1920(8);

      @media (max-width: 768px) {
        margin-bottom: 8px;
      }

      &:first-of-type {
        font-weight: 500;
        margin-bottom: vw-1920(16);

        @media (max-width: 768px) {
          margin-bottom: 12px;
        }
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    .button {
      margin-top: vw-1920(32);
      max-width: vw-1920(304);

      @media (max-width: 768px) {
        margin-top: 16px;
        max-width: 210px;
      }
    }
  }

  .blocks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: vw-1920(16);
    margin-top: vw-1920(67);

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      gap: 16px;
      margin-top: 24px;
    }
  }

  .advantage {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border: 1px solid hsl(from var(--accent-2) h s l / 0.3);

    background-color: var(--white);
    transition: background-color 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
    padding: vw-1920(20);
    min-height: vw-1920(200);

    @media (max-width: 768px) {
      min-height: 158px;
      padding: 16px;

      &.active {
        background: var(--accent-2);
        .image {
          fill: var(--accent-1);
        }
      }
    }

    &:hover {
      background: var(--accent-2);
      .image {
        fill: var(--accent-1);
      }
    }

    .image {
      position: absolute;
      top: vw-1920(16);
      left: vw-1920(16);
      width: vw-1920(48);
      height: vw-1920(48);

      object-fit: cover;
      fill: var(--accent-2);
      transition: fill 0.3s ease-in-out;

      @media (max-width: 768px) {
        top: 24px;
        left: 24px;
        width: 48px;
        height: 48px;
      }
    }

    .title {
      display: flex;
      flex-direction: column;
      margin-bottom: vw-1920(8);

      @media (max-width: 768px) {
        margin-bottom: 8px;
      }
    }
  }

  .text {
    &:not(:has(.title)) {
      max-height: vw-1920(320);
      overflow-y: auto;

      @media (max-width: 768px) {
        max-height: initial;
      }

      &::-webkit-scrollbar {
        width: vw-1920(6);
        background: rgba(17, 20, 52, 0.05);
      }

      &::-webkit-scrollbar-thumb {
        background: var(--accent-1);
        border-radius: vw-1920(6);
      }
    }
  }
}
