@use "../../assets/sass/functions" as *;

.container {
  margin-top: vw-1920(140);

  @media (max-width: 768px) {
    margin-top: 72px;
  }

  .image {
    width: 100%;
    height: vw-1920(586);
    object-fit: cover;

    @media (max-width: 768px) {
      width: 100%;
      height: 300px;
    }
  }
}
