@use "../../assets/sass/functions" as *;

.container {
  margin-top: vw-1920(140);

  @media (max-width: 768px) {
    margin-top: 72px;
  }

  .caption {
    display: flex;
    flex-direction: column;

    .text {
      font-family: var(--font-family);
      font-size: vw-1920(19);
      line-height: 140%;
      color: var(--text);
      font-weight: 300;

      @media (max-width: 768px) {
        font-size: 17px;
      }
    }

    h2 {
      margin-bottom: vw-1920(16);
      @media (max-width: 768px) {
        margin-bottom: 12px;
      }
    }

    p {
      margin-bottom: vw-1920(8);

      @media (max-width: 768px) {
        margin-bottom: 8px;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
