@use "../../assets/sass/functions" as *;

.container {
  display: flex;
  width: fit-content;
  gap: vw-1920(8);
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  color: var(--white);

  svg {
    width: vw-1920(20);
    height: vw-1920(20);
  }

  @media (max-width: 768px) {
    gap: 5px;

    svg {
      width: 20px;
      height: 20px;
    }
  }
}

.container > div {
  display: flex;
  gap: vw-1920(8);
  align-items: center;
  width: fit-content;

  @media (max-width: 768px) {
    gap: 5px;
  }
}

.link {
  text-decoration: none;
  color: var(--smm-text);
  display: flex;
  font-weight: 300;
}

div.link {
  font-weight: 700;
}

a.link:hover {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}
