@use "../../assets/sass/functions" as *;

.container {
  min-height: vw-1920(520);
  border-radius: vw-1920(30);
  overflow: hidden;
}

@media (max-width: 768px) {
  .container {
    height: 332px;
    border-radius: 20px;
  }
}
