@use "../../assets/sass/functions" as *;

.container {
  margin-top: vw-1920(140);
  display: flex;
  gap: vw-1920(24);

  &.left {
    flex-direction: row-reverse;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  @media (max-width: 768px) {
    margin-top: 72px;
    flex-direction: column;
    gap: 32px;
  }

  .image {
    width: vw-1920(632);
    height: vw-1920(586);
    object-fit: cover;

    @media (max-width: 768px) {
      width: 100%;
      height: 300px;
    }
  }

  .caption {
    display: flex;
    flex-direction: column;

    .text {
      font-family: var(--font-family);
      font-size: vw-1920(19);
      line-height: 140%;
      color: var(--text);
      font-weight: 300;

      @media (max-width: 768px) {
        font-size: 17px;
      }
    }

    h2 {
      margin-bottom: vw-1920(16);
      @media (max-width: 768px) {
        margin-bottom: 12px;
      }
    }

    p {
      margin-bottom: vw-1920(8);

      @media (max-width: 768px) {
        margin-bottom: 8px;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
