@use "../../assets/sass/functions" as *;

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: vw-1920(42);

  overflow: visible !important;

  margin-top: vw-1920(140);

  @media (max-width: 768px) {
    gap: 24px;
    margin-top: 72px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  & > p {
    width: vw-1920(632);
  }

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 16px;
    & > p {
      width: 100%;
    }
  }
}

.swiper {
  width: 100%;
  height: vw-1920(400);

  @media (max-width: 768px) {
    height: 400px;
  }
}

.slide {
  position: relative;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% + vw-1920(160));
  position: absolute;
  bottom: vw-1920(174);
  left: 50%;
  transform: translateX(-50%);

  @media (max-width: 768px) {
    position: static;
    justify-content: start;
    gap: 16px;
    width: 100%;
    transform: translateX(0);
  }

  .prev {
    transform: rotate(180deg);
  }
}
