@use "../../assets/sass/functions" as *;

.container {
  padding: vw-1920(24) 0 vw-1920(11);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: vw-1920(24);
  position: fixed;
  background-color: transparent;
  top: 0;
  left: 0;
  z-index: 101;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease,
    background-color 0.3s ease;

  &.scrolled {
    background-color: var(--white);
  }

  @media (max-width: 768px) {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    display: none;
  }

  &.hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: vw-1920(1288);
    margin: 0 auto;
    width: 100%;

    .top {
      display: flex;
      gap: vw-1920(36);

      .logo {
        width: vw-1920(178);
        height: vw-1920(46);
      }

      .menu {
        list-style: none;
        display: flex;
        align-items: center;
        gap: vw-1920(32);

        .link {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: vw-1920(6);

          color: var(--text);
          text-decoration: none;
          transition: all 0.3s ease;

          &:hover {
            font-weight: 700;
          }

          svg {
            color: var(--text);
            transform: rotate(90deg);
            width: vw-1920(24);
            height: vw-1920(24);
          }
        }
      }

      .menuItem {
        position: relative;

        &:hover {
          .subMenu {
            opacity: 1;
            visibility: visible;
          }
        }

        .subMenu {
          position: absolute;
          bottom: 0;
          left: 0;
          transform: translateY(100%);
          width: fit-content;
          background-color: var(--text);
          list-style: none;
          padding: vw-1920(16);
          display: flex;
          flex-direction: column;
          gap: vw-1920(10);
          opacity: 0;
          visibility: hidden;
          transition: all 0.3s ease;
          z-index: 5;

          .link {
            font-weight: 500;
            font-size: vw-1920(18);
            padding: 0;
            color: var(--white);

            &:hover {
              background: none;
              font-weight: 700;
            }
          }
        }
      }
    }

    .bottom {
    }
  }

  .info {
    display: flex;
    align-items: center;
    gap: vw-1920(24);

    .infoItem {
      display: flex;
      align-items: center;
      gap: vw-1920(8);
      text-decoration: none;
      color: var(--text);

      .icon {
        width: vw-1920(44);
        height: vw-1920(44);
        background-color: var(--accent-2);
        color: var(--accent-1);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;

        svg {
          width: vw-1920(26);
          height: vw-1920(26);
        }
      }

      .infoText {
        font-weight: 500;
      }
    }

    a.infoItem:hover {
      text-decoration: underline;
    }
  }

  .button {
    width: vw-1920(206);
    min-width: initial;
  }

  .socials {
    display: flex;
    gap: vw-1920(12);
    align-items: center;
    width: fit-content;
    margin: 0 auto;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: vw-1920(26);
      height: vw-1920(26);
      border-radius: 50%;
      transition: all 0.3s ease;

      svg {
        width: vw-1920(26);
        height: vw-1920(26);
      }
    }
  }

  .infoItem {
    display: flex;
    align-items: center;
    gap: vw-1920(8);
    text-decoration: none;
    color: var(--text);
    max-width: vw-1920(296);

    @media (max-width: 768px) {
      max-width: 100%;
      align-items: center;
      gap: 8px;
    }

    .infoText {
      display: flex;
      flex-direction: column;
      gap: vw-1920(4);

      @media (max-width: 768px) {
        gap: 4px;
      }

      span {
        opacity: 0.6;
      }
    }
  }

  a.infoItem:hover {
    text-decoration: underline;
  }

  &.transparent {
    background-color: transparent;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    z-index: 100;

    .menu {
      .link {
        color: var(--white);

        svg {
          color: var(--white);
        }

        &:hover {
          background: rgba(255, 255, 255, 0.1);
        }
      }
    }

    .subMenu {
      .link {
        color: var(--text);
      }
    }

    .info {
      .infoItem {
        color: var(--white);
        .icon {
          background-color: rgba(255, 255, 255, 0.1);
          color: var(--white);
        }
      }
    }

    .button {
      max-width: 100%;
    }
  }

  .swiper {
    max-width: vw-1920(1288);
    width: 100%;
    margin: 0 auto;

    .slide {
      width: auto !important;
      margin-right: vw-1920(24);

      .sliderLink {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: vw-1920(8);
        text-decoration: none;
        color: var(--text);
        background: rgba(255, 255, 255, 0.1);
        padding: vw-1920(11) vw-1920(24);
        border-radius: vw-1920(32);
        transition: all 0.3s ease;

        svg {
          width: vw-1920(24);
          height: vw-1920(24);
          transition: all 0.3s ease;
        }

        &:hover {
          background: var(--accent-2);
          color: var(--white);

          svg {
            filter: invert(1);
          }
        }
      }
    }
  }
}
